apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      name: mariadb
      labels:
        app: mariadb
    spec:
      containers:
      - name: mariadb
        image: docker.io/redleon1/mariadb_miniboard:{{VERSION}}
        imagePullPolicy: Always
        ports:
        - containerPort: 3306

---
apiVersion: v1
kind: Service
metadata:
  name: mariadb-service
spec:
  ports:
  - port: 3306
    targetPort: 3306
    nodePort: 30003
  selector:
    app: mariadb
  type: NodePort
